body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

input{
    height: 30px;
    font-size: large;
    margin: 10px 0 10px 0;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btns button{
    margin-top: 20px;
    font-size: 20px;
}

.add-symbol{
    font-weight: 900;
    font-size: 84px;
    color: white;
}

.add-symbol:hover{
    cursor: pointer;
}

.symbol-border{
    background-color: black;
}

.heading{
    color: white;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.heading-container{
    height: 119.2px;
    line-height: 119.2px;
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    text-align: center;
    width: 100%;

}

.book-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    border-radius: 3px;
    padding-top: 20px;
    font-size: large;
    width: 40%;
    background-color: #fefefe;
    box-sizing: border-box;
    padding: 20px 30px 30px 30px;
    margin-top: 9rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


label{
    margin-top: 45px;
}

select{
    height: 30px;
    font-size: large;
    margin: 10px 0 10px 0;
}

.form-container-modal{
    border-style: solid;
    border-width: 2px;
    margin: auto;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    height: 100%;
    width: 100%;

}

.books-display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 2rem;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    column-gap: 1rem;
}

.book-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    height: 130.23px;
    justify-content: flex-start;

}

.delete-symbol{
    position: static;
    font-weight: 500;
    bottom: 5px;
    font-size: 30px;
    margin-left: 240px;
    line-height: 0.8;
}

.delete-symbol:hover{
    cursor: pointer;
    color: crimson;
}

.book-heading{
    display: inline-block;
}

.title{
    text-align: center;
    margin-top: auto;
}






